$body-margin: 8px;
:host {
  width: calc(100vw - 2 * #{$body-margin});
  height: calc(100vh - 2 * #{$body-margin});
  display: block;
}

.navbar {
  width: 100%;
  height: 64px;
}

.container {
  width: 100%;
  height: 70%;
}
